<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.KnowledgePointMapper">
    
    <resultMap type="KnowledgePoint" id="KnowledgePointResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="level"    column="level"    />
        <result property="path"    column="path"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectKnowledgePointVo">
        select id, name, parent_id, level, path, created_at from knowledge_point
    </sql>

    <select id="selectKnowledgePointList" parameterType="KnowledgePoint" resultMap="KnowledgePointResult">
        <include refid="selectKnowledgePointVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="level != null "> and level = #{level}</if>
            <if test="path != null  and path != ''"> and path = #{path}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
        </where>
    </select>
    
    <select id="selectKnowledgePointById" parameterType="Long" resultMap="KnowledgePointResult">
        <include refid="selectKnowledgePointVo"/>
        where id = #{id}
    </select>
    <insert id="insertKnowledgePoint" parameterType="KnowledgePoint" useGeneratedKeys="true" keyProperty="id">
        insert into knowledge_point
        <trim prefix="(" suffix=")" suffixOverrides=",">
            level,
            <if test="name != null and name != ''">name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="path != null">path,</if>
            <if test="createdAt != null">created_at,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="level != null">#{level},</if>
            <if test="level == null">0,</if> <!-- 只有当 level 为 null 时才插入 0 -->
            <if test="name != null and name != ''">#{name},</if>
            <if test="parentId != null">#{parentId},</if> <!-- 只有当 parentId 不为 null 时才插入 -->
            <if test="path != null">#{path},</if>
            <if test="createdAt != null">#{createdAt},</if>
        </trim>
    </insert>

    <update id="updateKnowledgePoint" parameterType="KnowledgePoint">
        update knowledge_point
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="level != null">level = #{level},</if>
            <if test="path != null">path = #{path},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteKnowledgePointById" parameterType="Long">
        delete from knowledge_point where id = #{id}
    </delete>

    <delete id="deleteKnowledgePointByIds" parameterType="String">
        delete from knowledge_point where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>