<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PaperMapper">
    
    <resultMap type="Paper" id="PaperResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="totalScore"    column="total_score"    />
        <result property="passScore"    column="pass_score"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdAt"    column="created_at"    />
        <result property="rules"    column="rules"    />
        <result property="questionIds"    column="question_ids"    />
    </resultMap>

    <sql id="selectPaperVo">
        select id, title, total_score, pass_score, created_by, created_at, rules,question_ids from paper
    </sql>

    <select id="selectPaperList" parameterType="Paper" resultMap="PaperResult">
        <include refid="selectPaperVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="totalScore != null "> and total_score = #{totalScore}</if>
            <if test="passScore != null "> and pass_score = #{passScore}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="rules != null  and rules != ''"> and rules = #{rules}</if>
            <if test="questionIds != null  and questionIds != ''"> and question_ids = #{questionIds}</if>
        </where>
    </select>
    
    <select id="selectPaperById" parameterType="Long" resultMap="PaperResult">
        <include refid="selectPaperVo"/>
        where id = #{id}
    </select>

    <insert id="insertPaper" parameterType="Paper" useGeneratedKeys="true" keyProperty="id">
        insert into paper
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="totalScore != null">total_score,</if>
            <if test="passScore != null">pass_score,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="rules != null">rules,</if>
            <if test="questionIds != null">question_ids,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="totalScore != null">#{totalScore},</if>
            <if test="passScore != null">#{passScore},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="rules != null">#{rules},</if>
            <if test="questionIds != null">#{questionIds}</if>
        </trim>
    </insert>

    <update id="updatePaper" parameterType="Paper">
        update paper
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="totalScore != null">total_score = #{totalScore},</if>
            <if test="passScore != null">pass_score = #{passScore},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="rules != null">rules = #{rules},</if>
            <if test="questionIds != null">question_ids = #{questionIds},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePaperById" parameterType="Long">
        delete from paper where id = #{id}
    </delete>

    <delete id="deletePaperByIds" parameterType="String">
        delete from paper where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>